<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="TransmitPacketSize" value="32768" />
    <add key="CompressExtensions" value=".bc, .fx, .js, .jsx, .htm, .css, .wav, .exr, .hdr, .bin, .mem, .glb, .gltf, .glsl, .wasm, .data, .html, .json, .babylon" />
    <add key="SecureConnectionRequired" value="false" />
    <add key="SecureConnectionRedirectPort" value="443" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
			  <add name="Access-Control-Allow-Credentials" value="true" />				
			</customHeaders>
		</httpProtocol>
  </system.webServer>
</configuration>
